MYSQL_DB_DATABASE=test
MYSQL_DB_USERNAME=root
MYSQL_DB_PASSWORD=password
MYSQL_DB_PORT=3306

MARIADB_DB_DATABASE=test
MARIADB_DB_USERNAME=root
MARIADB_DB_PASSWORD=password
MARIADB_DB_PORT=3306

PGSQL_DB_DATABASE=test
PGSQL_DB_USERNAME=test
PGSQL_DB_PASSWORD=password
PGSQL_DB_PORT=5432

SQLSRV_DB_DATABASE=master
SQLSRV_DB_USERNAME=sa
SQLSRV_DB_PASSWORD=Password1234!
SQLSRV_DB_PORT=1433
